<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost your way?</title>
</head>

<body>
    <h2>Hi! Looks like you are lost</h1>
        <p>For farms, go <a href="/farms">here</a> </p>
        <p>For products, go <a href="/products">here</a> </p>
</body>

</html>